<!DOCTYPE html>
<html lang="fa" dir="rtl">

<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>یک جای کوچک برای تو</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <main class="welcome">

        <div class="moon">☾</div>

        <h1>یک جای کوچک برای تو</h1>

        <p>
            برای کسی که<br>
            یک بخش قشنگ از سال‌های من شد.
        </p>

        <a href="/memories" class="memory-button">ورود به دنیای ما</a>

    </main>

</body>

</html>
