<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head><link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>نامه‌ای برای تو</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <main class="letter-page">

        <div class="letter-moon">☾</div>

        <div class="letter-card">

            <span class="letter-small-title">
                برای تو
            </span>

            <h1>
                نامه‌ای برای تو
            </h1>

            <div class="letter-line"></div>

            <p>
                نمی‌دونم چطور باید از تو و حسی که نسبت بهت دارم بنویسم،
                بدون اینکه هیچ جمله‌ای کمتر از چیزی باشه که واقعاً توی دلم می‌گذره.
                <br><br>

                تو برای من فقط یه آدم مهم نیستی؛ تو تبدیل شدی به یکی از عزیزترین قسمت‌های زندگی من.
                کسی که توی مدت نسبتاً کوتاهی، اون‌قدر وارد دنیای من شد که دیگه تصور خیلی از روزهام بدون تو برام سخته.
                <br><br>

                ما با هم لحظه‌های زیادی داشتیم؛ خندیدیم، حرف زدیم، ناراحت شدیم،
                دعوا کردیم، قهر کردیم و دوباره کنار هم برگشتیم.
                ولی بین تمام این اتفاق‌ها، چیزی که برای من همیشه سر جاش موند،
                حسی بود که نسبت به تو داشتم.
                <br><br>

                هرچی بیشتر شناختمت، بیشتر دوستت داشتم.
                نه فقط به خاطر روزهای خوبمون، بلکه به خاطر خودِ تو؛
                با تمام اخلاق‌ها، رفتارها، خوبی‌ها و حتی چیزهایی که همیشه آسون نبودن.
                <br><br>

                گاهی فکر می‌کنم شاید خودت ندونی چقدر حضورت توی زندگی من اثر گذاشته.
                چقدر از لحظه‌های معمولی من رو قشنگ‌تر کردی و چقدر از خاطراتی که برام ارزش دارن،
                به شکلی با تو گره خوردن.
                <br><br>

                من نمی‌تونم آینده رو پیش‌بینی کنم یا بدونم زندگی قراره ما رو به کجا ببره؛
                اما چیزی که می‌دونم اینه که از اینکه یه روز وارد زندگی من شدی، خوشحالم.
                خیلی بیشتر از چیزی که بتونم با چند تا جمله توضیحش بدم.
                <br><br>

                و اگر قرار باشه فقط یه چیز از تمام این نوشته‌ها یادت بمونه،
                می‌خوام این باشه:
                <br><br>

                <strong>
                    تو برای من هیچ‌وقت یه آدم معمولی نبودی.<br>
                    تو یکی از خاص‌ترین آدم‌هایی هستی که زندگی به من داد.
                </strong>

                <br><br>

                و برای تمام لحظه‌هایی که «ما» داشتیم،
                از ته قلبم ممنونم.

                <br><br>

                <strong class="final-love">
                    خیلی دوستت دارم. ♡
                </strong>
            </p>

        </div>

    </main>

</body>

</html>